.home-container{
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.home-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;

}