<div class="home-container">
    <img src="/9bba0e56c589fb3e06191969202abb446327a86a.png" alt="BARBER">
    <div class="loggin-container">
        <h2>Agenda tu cita</h2>
        <form>
            <div>
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
