.head-container{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: absolute;
    z-index: 10;
    user-select: none;
}

.nav-links{
    display: flex;
    padding: 2px;
    gap: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.nav-links div{
    display: flex;
    align-items: center;
    padding: 20px;
    color: #fff;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;

}

.nav-links div:hover{
    background-color: #fff;
    color: black;
    cursor: pointer;
    transition: .3s;
}

.contact-button{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    color: black;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
